body {
  color: #111;
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 2;
  letter-spacing: 0.1em;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0;
  width: 100%;
}

.header-icon p {
  left: 70px;
  top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.header-icon img {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 48px;
  top: 12px;
  left: 12px;
  cursor: pointer;
}

.drawer_hidden {
  display: none;
}

.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.drawer_open img {
  width: 44px;
  border-radius: 5px;
  border: 1px solid #111;
}

@media screen and (min-width: 768px) {
  .drawer_open img {
    display: none;
  }
}

.nav {
  background-color: #fdf2eb;
  width: 100%;
  height: 70px;
  position: relative;
}

.nav_content {
  width: 100%;
  position: fixed;
  top: -200px;
  z-index: -1;
  background: #fdf2eb;
  transition: 0.5s;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav_content {
    position: static;
    margin-top: 40px;
    height: 0;
    transition: 0s;
  }
}

@media screen and (min-width: 768px) {
  .nav_list {
    display: flex;
    justify-content: flex-end;
  }
}

.nav_content li {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .nav_list li {
    padding: 0 15px;
    font-size: 14px;
  }
}

.nav_item a {
  color: #000111;
  margin: 0;
  padding: 0;
}

/* JavaScript押されたら付与 */
.nav_checked {
  top: 70px;
}

.container {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  text-align: center;
  padding: 40px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  h1,
  h2 {
    font-size: 42px;
  }
}

.flex-box {
  display: flex;
}

.comment {
  padding: 0 10px;
  max-width: 600px;
  display: block;
}

@media screen and (min-width: 768px) {
  .font-18 {
    font-size: 18px;
  }
}

.hero {
  position: relative;
  background: url('../images/app1.jpg') center/cover;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
  margin-top: 70px;
  width: auto;
  height: auto;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-container p {
    font-size: 24px;
  }
}

.about {
  background-color: #fafafa;
}

.about-link {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.about-link div:last-of-type {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .about-link div {
    margin-top: 32px;
  }
}

.about-link-container {
  justify-content: center;
}

.about-link-container a {
  letter-spacing: 0;
  color: #0000ee;
  width: 240px;
}

@media screen and (min-width: 768px) {
  .about-link-container a {
    width: 400px;
  }
}

.about-link-container p {
  letter-spacing: 0;
  width: 60px;
}
@media screen and (min-width: 768px) {
  .about-link-container p {
    width: 120px;
  }
}

.about-img-container {
  max-width: 230px;
  width: 60%;
  margin: 0 auto;
}

.about-img-container img {
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

.comment-container {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.apps {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 18px;
}

.apps-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

@media screen and (min-width: 1110px) {
  .apps-container {
    flex-wrap: wrap;
    flex-direction: row;
    
  }
}

.apps-container-item img {
  border-radius: 10px;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

.apps-container-item {
  font-size: 18px;
  line-height: 2;
  margin: 20px 0;
  max-width: 400px;
  min-width: 350px;
}

@media screen and (min-width: 768px) {
  .apps-container-item {
    margin: 30px 50px;
  }
}

.apps-container-item:first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .apps-container-item:first-child {
    margin-top: 30px;
  }
}

.skill {
  text-align: center;
  font-size: 18px;
  padding-bottom: 18px;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .skill {
    font-size: 24px;
  }
}

.profile {
  background-color: #ffffff;
  padding-bottom: 18px;
}

.profile p {
  padding: 10px;
}

.profile p:first-of-type {
  padding-top: 0;
}

.profile p:last-of-type {
  padding-bottom: 0;
}

.contact {
  background-color: #fafafa;
}

.footer {
  text-align: center;
  padding: 16px 0;
  background: #4d2773;
}
.footer-copyright {
  color: #fff;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  margin: 100px auto 0px;
  width: 90%;
  height: 75%;
  max-width: 600px;
  background-color: white;
  padding: 30px 20px 20px 20px;
  z-index: 10;
  border-radius: 10px;
}

.modal img {
  display: block;
  margin: 0 auto;
  max-width: 560px;
}

.modal div {
  margin: 20px 0;
  
}

.modal h3 {
  font-size: 24px;
  font-weight: bold;
}

.modal-btn-wrapper {
  display: flex;
  color: #0000ee;
}

.modal-btn {
  display: flex;
  margin: 20px 40px 0 0;
}

.modal-btn img {
  max-width: 20px;
  margin: 5px 5px 0 0;
}

.overlay {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 40px;
  color: #111;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
}

.description,
.description-language,
.description-git {
  display: none;
}

.original-box-shadow {
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 10px;
}

